name: Flake8 Lint

on: [push, pull_request]

jobs:
  do-flake8:
    runs-on: ubuntu-latest

    steps: 
        - uses: actions/checkout@v2
        - uses: conda-incubator/setup-miniconda@v2
          with:
            miniforge-version: latest
        - name: Install Dependencies
          shell: bash -l {0}
          run: |
            sudo apt-get install libegl1 libglu1-mesa
            conda install pylint=3.3.9 flake8 gdal pyside6 tuiview
        - name: Test Build
          shell: bash -l {0}
          run: |
            pip install .
        # Disabled until we have tuiview PySide6 in conda
        - name: Lint with pylint
          shell: bash -l {0}
          run: |
            pylint tuiview_plugins/*.py tuiview_plugins/*/*.py
        - name: Lint with flake8
          shell: bash -l {0}
          run: |
            flake8
